.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    padding: 33px 0;
    text-align: center;
    background-color: #ffffff;
}

.menu-top {
    display: inline-block;
    text-align: center;
}

.menu-top-link {
    margin: 0 35px;
    font-family: 'Roboto', sans-serif;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}

.section {
    padding-bottom: 94px;
    text-align: center;
    background-color: #f5f6f7;
}

.section-title {
    margin-top: 59px;
    margin-bottom: 34px;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.section-description {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 2px;
}

.btn-start {
    padding: 20px 44px;
    border-radius: 3px;
    border: none;
    background-color: #16a085;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.footer {
    padding: 46px 0px;
    background-color: white;
}

.footnote {
    margin-right: 104px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 3px;
}
