@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad Pro.otf');
    src: url('../fonts/Myriad Pro.eot?iefix') format('eot'),
        url('../fonts/Myriad Pro.woff') format('woff'),
        url('../fonts/Myriad Pro.ttf') format('truetype'),
        url('../fonts/Myriad Pro.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}


.container {
    width: 1280px;
    margin: 0 auto;
}

.company-name {
    display: inline-block;
    margin-top: 61px;
    margin-bottom: 45px;
    font-family: 'Myriad Pro', sans-serif;
    color: black;
    font-size: 80px;
    text-decoration: none;
}

.blue-text {
    color: #4bcaff;
}

.topmenu {
    text-align: center;
    background-color: #35444f;
}

.topmenu-item {
    display: inline-block;
}

.topmenu-link {
    display: inline-block;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
    padding: 26px 41px;
    font-family: 'Myriad Pro', sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

.topmenu-link:hover {
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
}

.topmenu-link.selected {
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    background-color: #222f3a;
}

.content {
    padding: 51px 0px;
}

.content-leftmenu {
    float: left;
    width: 344px;
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.leftmenu-link {
    display: block;
    padding: 28px 44px;
    font-family: 'Myriad Pro', sans-serif;
    color: #485863;
    font-size: 26.99px;
    text-decoration: none;
}

.leftmenu-link:hover {
    padding-left: 68px;
    background-color: #dcdcdc;
    color: #000000;
}

.leftmenu-link.selected {
    padding-left: 68px;
    background-color: #dcdcdc;
    color: #000000;
}

.content-right-column {
    float: right;
    width: 885px;
    padding-bottom: 51px;
}

.content-img-box {
    margin-bottom: 20px;
    height: 529px;
    border: 1px solid black;
    text-align: center;
}

.content-picture {
    margin-top: 75px;
    margin-bottom: 73px;
}

.content-picture:hover {
    transform: scale(1.1);
}

.content-description {
    margin: 30px 30px 0 30px;
    font-family: 'Myriad Pro', sans-serif;
    color: #2c2b2b;
    font-size: 18px;
    line-height: 24px;
}


.footerStyle {
    position: relative;
    padding: 22px 44px;
    background-color: #b5b8bb;
}

.footer-menu {
    display: inline-block;
}

.footer-menu-item {
    display: inline-block;
    margin-right: 21px;
    color: #0c1927;
}

.footer-menu-item.selected {
    padding-bottom: 4px;
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.footer-menu-item:hover {
    padding-bottom: 4px;
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}

.footer-menu-link {
    font-family: 'Myriad Pro', sans-serif;
    color: inherit;
    font-size: 28px;
    text-decoration: none;
}

.copyright {
    position: absolute;
    top: 25px;
    right: 34px;
    font-family: 'Myriad Pro', sans-serif;
    color: #010000;
    font-size: 24px;
}
